nav{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-left: 150px;
    margin-right: 150px;
}
.btn-color{
    background-color: #4E47FF;
    color:white;
    font-weight: bold;
    font-size: 16px;
    padding: 18px;
    border-radius: 5px;
    border: none;
   
}
.banner{
    text-align: center;
    margin: 309px 267px 237px ;
}
 .header{
    background-image: url(../Assets/Hero-bg.png);
   
    
   
 }

.color{
    color: #4E47FF;
    font-size: 50px;
}
.action-title{
    color: #252432;
    font-weight: bold;
    font-size: 42px;
}
.action-content{
    color: #252432;
    font-size: 24px;
}
.section{
    display: flex;
    justify-content: space-between;
    margin: 150px;
}
img{
    border-radius: 48px;
}



    
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px
  font-style: normal;
}
.color-2{
    color: #252432;
    font-size: 65px;
}

.raleway-norlam {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.active{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.action-title{
    color: #252432;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}
.flex-1{
    display: flex;
    justify-content: space-around;
}
.section-2{
    background-color: #FFFFFF;
}
.icon{
    display: flex;
    border-radius: 30px;
    justify-content: space-around;

}
.icon-1{

    padding: 15px;
}
.center{
    text-align: center;
}
.bloc{
   
}
.section-4{
     display: block;
    justify-content: center;
}
.Get{
    font-weight: bold;
    font-size: 98px;
    color: #000000;
}
.section-5{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    background-color: #FFFFFF;
}

